version: '3'
services:
  idswidget:
    build:
      context: .
      dockerfile: idswidget/Dockerfile
    ports:
      - "4000:3000"
    environment:
      - TZ=Europe/Stockholm # Set your timezone
    restart: unless-stopped
